<%= partial 'tour_masthead' %>
<%= partial 'tour_nav_md' %>

<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="follow-ups.html" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Referrals</div>
            <a href="prescriptions.html" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>

<section class="flush section-lightest referrals">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-5">
				<h2>Specialist referrals simplified</h2>
				<p>Medeo makes it easy for your doctor to refer you to a specialist when you see them online.</p>
			</div>
		</div>
	</div>
</section>

<section class="referrals-attachments section-lightest section-no-border">
	<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="visible-sm text-center">Doctors can attach a referral to your case</h2>
      </div>
    </div>
		<div class="row">
			<div class="col-sm-5 col-lg-6">
				<div class="referral-attachment">
					<%= image_tag 'referral-attachment-doctor.jpg' %>
					<%= image_tag 'referral-attachment-patient.jpg' %>
				</div>
			</div>
			<div class="col-sm-6 col-lg-5 ">
				<h2 class="hidden-sm">Doctors can attach a referral to your case</h2>
				<p>Medeo connects a growing network of specialists from across the province. The Medeo activity stream and file upload capabilities allow the doctor caring for you to refer your case to specialists online. Once a specialist accepts your case, they can provide their opinion, prescribe you a care plan or ask you to visit them in person.</p>
			</div>
		</div>
	</div>
</section>

<section class="section-lightest visible-xs visible-sm referrals-list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2 class="hidden-sm">How to connect with a specialist using Medeo</h2>
        <div class="row">
          <div class="">
            <h2 class="visible-sm text-center">How to connect with a specialist using Medeo</h2>
          </div>
        </div>
        <ol class="list-striped">
          <li>
            <h4>Connect with a Medeo Coordinator</h4>
            <p>The Medeo coordinator will refer you to your family doctor or another doctor we have available to see you.</p>
          </li>
          <li>
            <h4>Talk to your doctor on Medeo</h4>
            <p>If the doctor sees fit, they can issue you a referral to a specialist.</p>
          </li>
          <li>
            <h4>Receive your specialist referral</h4>
            <p>The doctor will attach a referral letter to your care plan. If the doctor has recommended you see a specific specialist, the Medeo Coordinator will send your referral letter to their office. If it is left up to you to pick your preferred specialist you can download it, print it, and bring it with you to the specialist’s office.</p>
          </li>
          <li>
            <h4>Receive confirmation of your appointment with a specialist</h4>
            <p>Some specialist’s offices will send confirmation with an appointment date and time back to Medeo, where a coordinator will contact you with the details. Others prefer to contact the patient directly, and if this is the case you will receive a call from the specialist’s office.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%= partial 'how_to_referrals' %>
