<%= partial 'tour_masthead' %>
<%= partial 'tour_nav_md' %>

<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="security.html" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Getting Started</div>
            <a href="follow-ups.html" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>

<section class="section-how-to-get-started">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Simple and secure 3-step process</h2>
			</div>
		</div>

		<section class="section-sm">
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-lg-offset-1">
					<%= image_tag 'getting-started-step1.jpg' %>
				</div>
				<div class="col-lg-4 col-sm-6">
					<span class="step">Step 1</span>
					<h5>Sign up for Medeo</h5>
					<p>With valid Medical Services Plan coverage you can register to connect with your family doctor. Our sign-up process is quick and secure. When you sign in, we'll send you a text message with a four digit secret code to your cellphone. Search for your family doctor or we'll connect you with one.</p>
				</div>
			</div>
		</section>

		<div class="container"><hr></div>

		<section class="section-sm">
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-lg-offset-1">
					<%= image_tag 'getting-started-step2.jpg' %>
				</div>
				<div class="col-lg-4 col-sm-6">
					<span class="step">Step 2</span>
					<h5>Describe your symptoms</h5>
					<p>Before you see the doctor we ask you for your symptoms, medications, allergies and any other important information for your doctor. Attach photos and other files if neccessary. If you have a family doctor, we can forward copies of your visit assessments to them.</p>
				</div>
			</div>
		</section>

		<div class="container"><hr></div>

		<section class="section-sm section-flush-bottom">
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-lg-offset-1">
					<%= image_tag 'getting-started-step3.jpg' %>
				</div>
				<div class="col-lg-4 col-sm-6">
					<span class="step">Step 3</span>
					<h5>Connect with your doctor</h5>
					<p>When you start your visit, a Medeo Coordinator will answer your questions. Then, they will connect you to the doctor.</p>
				</div>
			</div>
		</section>
	</div>
</section>
<hr>
