<!-- masthead desktop & tablet landscape-->
<div class="video-container">
	<video autoplay muted loop id="masthead-video">
  	<source src="video/how_to_use.mp4" type="video/mp4">
	</video>
</div>
<section class="masthead section-flush visible-md visible-lg" id="masthead-index">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-4 col-md-5 col-md-offset-7">
				<div class="masthead-title">
					<h1>Video visit with a doctor online</h1>
					<h4>Visit with BC doctors. You can connect from anywhere using a computer, iPad, iPhone or Android device.</h4>
					<a href="https://secure.medeo.ca/users/sign_up?initial_role=patient" class="btn btn-default-inverse btn-large">Create your free account</a>

					<span><i class="icon-maple-leaf"></i> Free with valid Medical Services Plan coverage</span>

				</div>
			</div>
		</div>
	</div>
</section>

<!--masthead tablet portrait -->
<section class="masthead section-flush visible-sm" id="masthead-index-reverse">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="masthead-title">
          <h1>Video visit with a doctor online</h1>
          <h4>Visit with BC doctors. You can connect from anywhere using a computer, iPad, iPhone or Android device.</h4>
          <a href="https://secure.medeo.ca/users/sign_up?initial_role=patient" class="btn btn-default-inverse btn-large">Create your free account</a>
          <span><i class="icon-maple-leaf"></i> Free with valid Medical Services Plan coverage</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!--masthead phone -->
<section class="masthead section-mid section-flush visible-xs" id="masthead-index-mobile">
  <div class="container">
    <div class="row">
      <div>
      	<div class="col-sm-5 col-sm-offset-1">
      		<div class="video-container">
      			<a href="#MedeoIntro" class="sublime watch-video-btn" data-uid="MedeoIntro" data-autoresize="fit" data-autoplay="true">
      				<div class="video-thumbnail-lrg">
      					<i class="icon-play-sign"></i>
      					<%= image_tag 'medeo-comftorable-place.jpg' %>
      				</div>
      			</a>
      			<video id="MedeoIntro" poster="https://medeo.ca/img/video/splash.png" width="640" height="360" title="Introducing Medeo - See your doctor online" style="display:none" data-uid="MedeoIntro" data-autoresize="fit" preload="none" data-logo-enable='false'>
      			  <source src="https://medeo.ca/video/medeo-intro-hd.mp4" data-quality="hd" />
      			  <source src="https://medeo.ca/video/medeo-intro-sd.mp4" />
      			  <source src="https://medeo.ca/video/medeo-intro-sd.mp4" />
      			</video>
      		</div>
      	</div>
        <div class="masthead-title">
          <h1>Video visit with a doctor online</h1>
          <p><i class="icon-maple-leaf"></i> Free with valid MSP coverage</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-light visible-xs">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h4>Visit with BC doctors. You can connect from anywhere using a computer, iPad, iPhone or Android device.</h4>
				<a href="https://secure.medeo.ca/users/sign_up?initial_role=patient" class="btn btn-primary btn-large btn-block">Create your free account</a>
			</div>
		</div>
	</div>
</section>

<section class="section-intro hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="visible-sm text-center">Face to face in a comftorable place</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<h2 class="hidden-sm">Face to face in a comftorable place</h2>
				<p>You’re not feeling well and can’t get to the doctor. Simply connect to Medeo and see a doctor at your convenience. Shouldn’t everything be this easy ?</p>
				<a href="" class="btn-link"><i class="icon-play-sign"></i> Watch the video</a>
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<div class="video-container">
					<a href="#MedeoIntro" class="sublime watch-video-btn" data-uid="MedeoIntro" data-autoresize="fit" data-autoplay="true">
						<div class="video-thumbnail-lrg">
							<i class="icon-play-sign"></i>
							<%= image_tag 'medeo-comftorable-place.jpg' %>
						</div>
					</a>
					<video id="MedeoIntro" poster="https://medeo.ca/img/video/splash.png" width="640" height="360" title="Introducing Medeo - See your doctor online" style="display:none" data-uid="MedeoIntro" data-autoresize="fit" preload="none" data-logo-enable='false'>
					  <source src="https://medeo.ca/video/medeo-intro-hd.mp4" data-quality="hd" />
					  <source src="https://medeo.ca/video/medeo-intro-sd.mp4" />
					  <source src="https://medeo.ca/video/medeo-intro-sd.mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container hidden-xs"><hr></div>

<section class="section-devices">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-7">
				<div class="devices">
					<div class="device ipad-lg">
						<%= image_tag 'lrg-ipad-doctor.jpg', :width=>'375' %>
					</div>
					<div class="device nexus5-lg">
						<%= image_tag 'lrg-nexus5-doctor.png', :width=>'170' %>
					</div>
				</div>
			</div>
			<div class="col-sm-5 col-md-4">
				<h2>Care that fits your life</h2>
				<p>We know that you have a busy lifestyle with work, family, friends, activities and travel. Patients all over BC have told us that it can be hard to visit the doctor in person. So we built Medeo, an amazing application that allows you to see a licensed BC doctor online.</p>
				<div class="app-store-icons">
					<a href="#"><%= image_tag 'apple-app-store.jpg', :height=>'45' %></a>
					<a href="#"><%= image_tag 'google-play-store.jpg', :height=>'45' %></a>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container"><hr></div>

<section class="popular-uses">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Popular Uses of Medeo</h2>
				<h4>Medeo is more than just video conferencing.</h4>
			</div>
		</div><!--/row -->
		<div class="row">
			<div class="col-sm-3 text-center">
				<i class="icon-calendar color-brand"></i>
				<h5>Follow ups</h5>
				<p>Build a better relationship with your doctor.</p>
			</div>
			<div class="col-sm-3 text-center">
				<i class="icon-chat-3 color-highlight"></i>
				<h5>Medical questions</h5>
				<p>Have questions answered quickly.</p>
			</div>
			<div class="col-sm-3 text-center">
				<i class="icon-pill color-brand"></i>
				<h5>Prescriptions</h5>
				<p>Renew your prescriptions online using Medeo.</p>
			</div>
			<div class="col-sm-3 text-center">
				<i class="icon-heart color-highlight"></i>
				<h5>Care plans</h5>
				<p>Access your care plans at any time from any device.</p>
			</div>
		</div>
	</div>
</section>

<section class="see-a-doctor hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-lg-5 col-lg-offset-1">
				<span>
					<h2>See your doctor online</h2>
					<p>We are thrilled to connect patients with their doctors. Hundreds of doctors in BC use Medeo to deliver great care and better outcomes for their patients.</p>

					<p>Almost half of BC residents don’t have a doctor. Medeo connects you with a doctor for your immediate care needs. We can also introduce you to a new doctor to see on a regular basis.</p>

					<a href="" class="btn btn-large btn-primary">Create your free account</a>
				</span>
			</div>
		</div>
	</div>
</section>

<section class="see-a-doctor section-mid visible-xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-lg-4 col-lg-offset-1">
				<span>
					<h2>See your doctor online</h2>
					<p>We are thrilled to connect patients with their doctors. Hundreds of doctors in BC use Medeo to deliver great care and better outcomes for their patients.</p>

					<p>Almost half of BC residents don’t have a doctor. Medeo connects you with a doctor for your immediate care needs. We can also introduce you to a new doctor to see on a regular basis.</p>

					<a href="" class="btn btn-large btn-default-inverse">Create your free account</a>
				</span>
			</div>
		</div>
	</div>
</section>

<section class="section-security">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="visible-sm text-center">Safe & secure</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 col-lg-5 col-lg-offset-1">
				<div class="video-container">
					<a href="">
						<div class="video-thumbnail-lrg">
							<i class="icon-play-sign"></i>
							<%= image_tag 'security-video-thumbnail.jpg' %>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-5 col-lg-4 col-lg-offset-1">
				<div>
					<h2 class="hidden-sm">Safe & secure</h2>
					<h4>We take security seriously around here</h4>
					<p>Medeo is safe and secure. Your health information is 100% private with us. We use bank-grade Canadian data centres to secure your information.</p>
					<a href="#" class="btn-link hidden-sm hidden-xs"><i class="icon-play-sign"></i> Watch the video</a>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- <section class="section-map">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<h2>Great care everywhere</h2>
				<p>It doesn’t matter if you’re in Vancouver or Vanderhoof, Prince George or Penticton or anywhere in between. We take pride in serving everyone in every part of BC.</p>

				<p>Sometimes it isn’t possible to get the right type of care where you live. It can be difficult, time consuming and stressful to have to travel to get care. Medeo takes your location out of the healthcare equation. You get great care everywhere. </p>
			</div>
			<div class="col-lg-8 col-lg-offset-1">
				<div class="map">
					<%= image_tag 'map.png', :width => '700' %>
					<div class="conversation">
						<div class="map-popover patient">
							<span class="popover-quote">Hi Dr. Cadesky. Great to see you. I'm here for my monthly checkup</span>
							<div class="popover-name">Ashley Salvador <br />Prince George</div>
							<div class="beacon"></div>
						</div>
						<div class="map-popover doctor">
							<span class="popover-quote">Great to see you too Ashley. Let me share your results with you.</span>
							<div class="popover-name">Dr. Eric Cadesky <br/>Vancouver</div>
							<div class="beacon"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<div class="container"><hr></div>

<section class="section-getting-started">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="visible-sm text-center">Getting started</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-lg-4 col-sm-offset-1">
				<h2 class="hidden-sm">Getting started</h2>
				<p>It’s super easy to use Medeo. You can use Medeo on your Apple or Android smartphone, tablet or computer. Simply download and install the app and sign up for a free account. Most people are up and running and see a doctor in a few minutes.</p>

				<dl class="dl-horizontal list-dividers simple-steps">
					<p><strong>3 Simple steps</strong></p>
					<span><dt>Step 1:</dt><dd>Sign up for Medeo.</dd></span>
					<span><dt>Step 2:</dt><dd>Describe your symptoms.</dd></span>
					<span><dt>Step 3:</dt><dd>Your doctor is waiting.</dd></span>
				</dl>

				<a href="" class="btn btn-primary btn-large visible-xs">Get started for free</a>
			</div>
      <div class="col-sm-10 col-sm-offset-1 col-lg-5 col-sm-offset-1">
        <img src="/images/get-started.gif" width="575">
        <a href="" class="btn-link visible-lg">Get started for free <i class="icon-arrow-right-thick"></i></a>
      </div>
		</div>
	</div>
</section>

<hr>

<section id="section-hours-of-op">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-center">Hours of operation</h2>
				<div class="hours-of-op clearfix">
					<!-- clean up. Iterate with yml and ruby -->

					<div class="day">
						<div class="date">sun</div>
						<div class="status">
							<span class="closed_desktop visible-lg">Closed</span>
							<span class="closed hidden-lg"></span>
						</div>
					</div><!--/ Sunday -->

					<div class="day">
						<div class="date">mon</div>
						<div class="status">
							<%= partial 'open_desktop' %>
							<%= partial 'open' %>
						</div>
					</div><!--/ Monday -->

					<div class="day">
						<div class="date">tue</div>
						<div class="status">
							<%= partial 'open_desktop' %>
							<%= partial 'open' %>
						</div>
					</div><!--/ Tuesday -->

					<div class="day">
						<div class="date">wed</div>
						<div class="status">
							<%= partial 'open_desktop' %>
							<%= partial 'open' %>
						</div>
					</div><!--/ Wednesday -->

					<div class="day">
						<div class="date">thu</div>
						<div class="status">
							<%= partial 'open_desktop' %>
							<%= partial 'open' %>
						</div>
					</div><!--/ Thursday -->

					<div class="day">
						<div class="date">fri</div>
						<div class="status">
							<%= partial 'open_desktop' %>
							<%= partial 'open' %>
						</div>
					</div><!--/ Friday -->

					<div class="day">
						<div class="date">sat</div>
						<div class="status">
							<%= partial 'open_desktop' %>
							<%= partial 'open' %>
						</div>
					</div><!--/ Saturday -->

				</div>
				<p class="text-center visible-xs visbile-sm">Monday - Friday 7am - 10pm <br> Saturday 9am - 3pm</p>
			</div>
		</div>
	</div>
</section>

<section class="section-flush" id="section-testimonials">
	<div class="container-res">
		<div class="col-res-5">
			<div class="bg-mid">
				<div class="testimonial-content container-res-inner">
					<h2>What our users <br/>are saying ...</h2>
					<div class="speech-bubble bubble-lrg pointer-right">
						<p>Medeo is amazing! I can see a doctor in less than 15 minutes and have my prescription ready.</p>
						<a href="" class="btn-link"><i class="icon-play-sign"></i> Get the full story</a>
					</div>
					<div class="testimonial-person">
						<%= image_tag 'lucy-avatar-testimonial.png', :class=>'img-circle', :width =>'65' %>
						<div class="name">Lucy Faktor</div>
						<div class="location">Vancouver BC</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-res-7">
			<div class="testimonial-img">
				<!-- <i class="icon-play-sign"></i> -->
			</div>
		</div>
	</div>
</section>

<%= partial 'free_account_cta' %>
