<% content_for :title, "Online doctors on Medeo from London Drugs" %>
<% content_for :active, "Online doctors on Medeo from London Drugs" %>

<div id="masthead-ld-bg" class="section-ld section-mid">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-7 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">

        <div class="video-wrap clearfix visible-xs">
          <a href="#MedeoIntro" class="sublime watch-video-btn med-intro-video pull-left" data-uid="MedeoIntro" data-autoresize="fit" data-autoplay="true">
            <i class="icon-play-sign"></i>
          </a>
          <p>Watch the video to see how Medeo is connecting patients and doctors.</p>
        </div>

        <div class="masthead-info">
          <h1 class="title">See doctors online</h1>
          <p>You can now connect with licensed BC doctors online via secure video on computer, iPhone or iPad. There is no cost with valid Medical Services Plan Coverage. London Drugs is proud to be partnering with Medeo to bring this amazing service to you.</p>
          <a href="https://secure.medeo.ca/users/sign_up?initial_role=patient" class="btn btn-large btn-flat btn-success">Sign Up</a>
        </div>

      </div>

      <div class="col-md-6">
        <div id="laptop">
          <%= image_tag "ld-landing-page/ipad-rough.png", :class => "hidden-xs" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-ld section-lighter" id="visit-ld">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <p><i class="icon-exclamation"></i>You can now video visit with doctors on Medeo at the Broadway & Cambie and Kamloops London Drugs stores.</p>
      </div>
    </div>
  </div>
</div> <!-- /section -->

<div class="section-ld section-lighter" id="standing-by">
  <div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-6 col-lg-5 col-lg-offset-1">
          <div id="doc">
            <%= image_tag "ld-landing-page/dr-lauren.png" %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5">
          <div class="row">
            <div class="col-xs-8 col-sm-12">
              <h1 class="title">Doctors are standing by</h1>
            </div>
          </div>

          <p>Medeo was created by BC doctors to improve access to healthcare for all Canadians. All of the doctors using Medeo are licensed in BC by the College of Physicians and Surgeons of British Columbia.</p>
        </div>

        <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
          <div class="video-wrap clearfix">
            <a href="#MedeoIntro" class="sublime watch-video-btn med-intro-video pull-left" data-uid="MedeoIntro" data-autoresize="fit" data-autoplay="true">
              <i class="icon-play-sign"></i>
            </a>
            <p>Watch the video to see how medeo is connecting patients and doctors.</p>
          </div>
          <video id="MedeoIntro" poster="https://medeo.ca/img/video/splash.png" width="640" height="360" title="Introducing Medeo - See your doctor online" style="display:none" data-uid="MedeoIntro" data-autoresize="fit" preload="none" data-logo-enable='false'>
            <source src="https://medeo.ca/video/medeo-intro-hd.mp4" data-quality="hd" />
            <source src="https://medeo.ca/video/medeo-intro-sd.mp4" />
            <source src="https://medeo.ca/video/medeo-intro-sd.mp4" />
          </video>
        </div>


    </div>
  </div>
</div><!-- /section -->

<div class="section-ld section-light" id="how-we-help">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center"><h1 class="title">How can Medeo help you?</h1></div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">

      <div class="benefits clearfix">

        <div class="benefit">
          <i class="icon-chat-3"></i>
          <p><strong>Medical Advice</strong></p>
          <p>You can never take your health too seriously. Talk to a doctor today.</p>
        </div>

        <div class="benefit">
          <i class="icon-pill"></i>
          <p><strong>Prescription Review</strong></p>
          <p>Have your prescription renewed online. Pick up at your preferred location.</p>
        </div>

        <div class="benefit">
          <i class="icon-users"></i>
          <p><strong>Specialists</strong></p>
          <p>Get referred to a specialist without leaving the comfort of your home.</p>
        </div>

        <div class="benefit" style="border-bottom: none;">
          <i class="icon-calendar"></i>
          <p><strong>Follow-ups</strong></p>
          <p>Build a stronger connection with your doctor and follow-up on care you receive.</p>
        </div>


        </div><!-- /benefits -->
      </div>
    </div>
  </div>
</div><!--/ section -->

<div class="section-ld section-lighter" id="got-you-covered">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-5 col-md-offset-1">
        <div id="responsive-devices">
          <%= image_tag "ld-landing-page/responsive-2.png" %>
        </div>
      </div>
      <div class="col-sm-7 col-md-5">
        <h1 class="title">You're covered with Medeo</h1>
        <ul class="vertical">
          <li><i class="icon-checkmark"></i>Access Medeo anywhere</li>
          <li><i class="icon-checkmark"></i>Works on iPhone, iPad and desktop computer</li>
          <li><i class="icon-checkmark"></i>Open early and late</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div id="security" class="clearfix">
        <div class="col-sm-7 col-md-5 col-md-offset-1">
          <h1 class="title">Security and privacy are our top priorities</h1>
          <ul class="vertical">
            <li><i class="icon-checkmark"></i>Our data is always and only stored in Canada</li>
            <li><i class="icon-checkmark"></i>All data is encrypted between servers and devices</li>
            <li><i class="icon-checkmark"></i>Firewalls protect all connections between networks</li>
          </ul>
        </div>
        <div class="col-md-5 col-sm-4">
          <div id="secure-doc">
            <%= image_tag "ld-landing-page/patient-security.png", :class => "hidden-xs"%>
          </div>
        </div>
    </div>
    </div>
  </div>
</div><!-- /section -->

<div class="section-ld section-light" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="title">What Medeo users are saying</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
            <div class="testimonial">
              <%= image_tag 'ld-landing-page/headshot-1.jpg', :class => "avatar avatar-extra-large avatar-circle" %>
              <p>Pia, Vancouver BC</p>
              <p>"I'm a busy working professional, and this service has already saved me so much time, and I’ve only used it once!"</p>
            </div>
          </div><!-- /testimonial -->
          <div class="col-sm-6 col-md-5 col-lg-4">
            <div class="testimonial">
              <%= image_tag 'ld-landing-page/headshot-2.jpg', :class => "avatar avatar-extra-large avatar-circle" %>
              <p>Reg, Burnaby BC</p>
              <p>"My prescription was sent via Internet to my favourite pharmacy and a lab test request was sent online to a lab near my home!"</p>
            </div>
          </div><!-- /testimonial -->
          <div class="col-lg-4 visible-lg">
            <div class="testimonial">
              <%= image_tag 'ld-landing-page/headshot-3.jpg', :class => "avatar avatar-extra-large avatar-circle" %>
              <p>Jason, Port Moody BC</p>
              <p>"The service that Medeo provides, is quite simply one of the one most convenient and sensible I've ever come across."</p>
            </div>
          </div><!-- /testimonial -->
        </div>
      </div>
    </div>
  </div>
</div><!-- /section -->


<div class="section-ld section-mid" id="get-started">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1 class="title">Get started with Medeo</h1>
        <a href="https://secure.medeo.ca/users/sign_up?initial_role=patient" class="btn btn-large btn-success btn-flat">Sign up</a>
      </div>
    </div>
  </div>
</div>
