<%= partial 'about_masthead' %>
<%= partial 'about_nav' %>

<nav class="nav-wrap visible-xs">
  <div class="content-nav">
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-controls">
            <a href="http://medeo.theresumator.com/" class="prev pull-left"><i class="icon-arrow-left"></i></a>
            <div class="current-page text-center">Partners</div>
            <a href="about.html" class="next pull-right"><i class="icon-arrow-right"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>

<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 class="text-center">Medeo Partners</h2>
        <h4 class="text-center">Medeo is proud to be partnered with the following organizations</h4>
        <section class="section-sm section-flush-bottom">
          <!-- IBM -->
          <div class="partner">
            <a href="http://ibm.com" target="_blank">
              <%= image_tag "partners/ibm@2x.jpg", :alt=> "IBM Logo" %>
            </a>
          </div>
          <!-- q9 -->
          <div class="partner">
            <a href="http://www.q9.com/" target="_blank">
              <%= image_tag "partners/q9@2x.jpg", :alt=> "Q9 Networks Logo" %>
            </a>
          </div>
          <!-- nserc -->
          <div class="partner">
            <a href="http://www.nserc-crsng.gc.ca/index_eng.asp" target="_blank">
              <%= image_tag "partners/nserc@2x.jpg", :alt=> "NSERC Logo" %>
            </a>
          </div>
          <!-- vidyo -->
          <div class="partner">
            <a href="http://vidyo.com" target="_blank">
              <%= image_tag "partners/vidyo@2x.jpg", :alt=> "Vidyo Logo" %>
            </a>
          </div>
          <!-- claris -->
          <div class="partner">
            <a href="http://clariscompanion.com" target="_blank">
              <%= image_tag "partners/claris@2x.jpg", :alt=> "Claris Companion Logo" %>
            </a>
          </div>
          <!-- rebalance -->
          <div class="partner">
            <a href="http://rebalancemd.com/" target="_blank">
              <%= image_tag "partners/rebalance@2x.jpg", :alt=> "Rebalance Logo" %>
            </a>
          </div>
          <!-- backcheck -->
          <div class="partner">
            <a href="http://backcheck.ca" target="_blank">
              <%= image_tag "partners/backcheck@2x.jpg", :alt=> "Backcheck Logo" %>
            </a>
          </div>
          <!-- kubera -->
          <div class="partner">
            <a href="http://kubera.cc" target="_blank">
              <%= image_tag "partners/kubera@2x.jpg", :alt=> "Kubera Payments Logo" %>
            </a>
          </div>
          <!-- wavefront -->
          <div class="partner">
            <a href="http://wavefrontac.com" target="_blank">
              <%= image_tag "partners/wavefront@2x.jpg", :alt=> "Wavefront Logo" %>
            </a>
          </div>
          <!-- MDF -->
          <div class="partner">
            <a href="http://mdfwellness.com/" target="_blank">
              <%= image_tag "partners/mdf@2x.jpg", :alt=> "MDF Wellness Logo" %>
            </a>
          </div>
          <!-- Raincity -->
          <div class="partner">
            <a href="http://raincitygroup.com/" target="_blank">
              <%= image_tag "partners/raincity@2x.jpg", :alt=> "Raincity Group Logo" %>
            </a>
          </div>

        </section>
      </div>
    </div>
  </div>
</section>

<hr>